{% extends 'layout.html' %}

{% block content %}
    <section>
        <div class="row">
         <div class="container">
          <div class="col-sm-6 col-md-6">
              <div class="introduction">
                  <p>
                      New to this site ? Make sure you login to your account and if you don't have an account you can click on register to create an account.
                  </p>

                  <p>
                      If you're a students before registering, make sure you have paid your fees and you have process it from Finance office. You can use the Serial Key the gave you in finance office to complete your registration.
                  </p>

                  <p>
                    For staffs, use the account information given to you to login into your accounts. If you don't have the information contact the dean of faculty.
                  </p>

              </div>
          </div>

          <div class="col-sm-4 col-md-4" id="login">
                <form class="form-inline">
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">LOG IN</legend>
                        <div class="form-group justify-content-center">
                            <div class="row col-sm-4 col-md-4 col-lg-10">
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                        </div>
                       <br>
                        <div class="form-group justify-content-center">
                            <div class="row col-sm-4 col-md-4 col-lg-10">
                              <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" placeholder="Enter password">
                            </div>
                        </div>
                        <br>
                        <div class="border-top pt-6">
                            <small class="text-muted">
                                <a class="ml-2" href="">Forget Pasword?</a>
                            </small>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                            <button type="button" class="btn btn-outline-success button">SIGN IN</button>
                        </div>

                        <div class="border-top pt-3">
                            <small class="text-muted">
                                Need An Account? <a class="ml-2" href="" >Sign Up Now</a>
                            </small>
                        </div>
                      </fieldset>
                  </form>
          </div>
        </div>
        </div>
      </section>
{% endblock %}